<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Hello, world!</title>
    <style>
    .coverImage{
      width:80%;
      height:200px;
    }
    .form{
      width:80%;
      height:620px;
      padding:300px;
      margin-top:-50px;
      background:url('whankUser.jpg');
      margin-left:150px;
    }
    .mb-3{
      margin-left:-80px;
      width:70%;
      color:white;
    }
</style>
  </head>
  <body>
    <div id="app-4">
    <div class="form" v-show="loginShow">
  
<form class="mb-3" v-on:submit.prevent="matchFuc">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" v-model="Email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" v-model="pass">
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button  class="btn btn-primary" >Submit</button>
</form>
</div>
<div v-show="dataShow">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">WHANK</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link " href="attendance.html" >
          Attandance
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="list.html" v-show="stu1">List Of Student</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="login.html">Log Out</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<!-- data table -->

<table class="table table-striped" v-show="stu1">
  <thead>
    <tr>
      <th scope="col">Roll</th>
      <th scope="col">Name</th>
      <th scope="col">Major</th>
      <th scope="col">Attandance</th>
      <th scope="col">Manage</th>
      <th scope="col"><button type="button" class="btn btn-success"data-toggle="modal" data-target="#exampleModal">Add Student</button> <button type="button" class="btn btn-primary">Modified</button></th>

    </tr>
  </thead>
  <tbody v-for="i in idd">
    <tr v-for="h in i.sInfo">
      <th scope="row" >{{h.roll}}</th>
      <td>{{h.name}}</td>
      <td>{{h.major}}</td>
      
      <td style="width:250px" ><div class="progress-bar" role="progressbar" v-bind:style="{width:h.per}" aria-value="h.per" aria-valuemin="0" aria-valuemax="100">{{h.per}}%</div>

      </td>
      <td><input type="number" v-model="h.per" max="100" min="0" ></td>
    </tr>
  </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Student</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Name</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="Name">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">CARD</label>
      <input type="text" class="form-control" id="inputPassword4" placeholder="CARD">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputState">Roll</label>
      <select id="inputState" class="form-control">
        <option selected>1</option>
        <option>2</option><option>3</option><option>4</option><option>5</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">Major</label>
      <select id="inputState" class="form-control">
        <option selected>AME</option><option>CE</option><option>EcE</option><option>ICT</option><option>IST</option><option>PrE</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">Subject</label>
      <select id="inputState" class="form-control">
        <option selected>Maynmar</option>
        <option>English</option>
        <option>ISCE</option>
        <option>English</option>
        <option>Mathematic</option>
      </select>
    </div>
    
  </div>
 
</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div>
</div>

<!--stu table-->

<div  v-show="stu">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Major</th>
      <th scope="col">Atttandance</th>
    </tr>
  </thead>
  <tbody v-for="j in studata">
    <tr v-for="k in j.subj">
      <td>{{k.name}}</td>
      <td>{{k.val}}</td>
    </tr>
  </tbody>
</table>
</div>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      const url = "http://localhost:8000/teacher";
      const matchUrl="http://localhost:8000/teacher/";
      const stud ="http://localhost:8000/students/";
      const subj ="http://localhost:8000/";
      const app4 = new Vue({
  el: '#app-4',
  data:{  
            subject:'',  
            Email:'',
            
            pass:'',
            toda :[],
          todos : [],
          loginShow:true,
          dataShow:false,
          matchData:[],
          stu1:true,
          stu2:true,
          stu:false,
          idd :[],
          studata:[]
        },
        mounted() {
          axios.get(url).then(response => {
            alert('response');
            this.todos = response.data
          },
          err=>{alert('not response');});

         axios.get(stud+this.Email).then(response => {
            alert('response stu');
            this.toda = response.data
          },
          err=>{alert('not response');});

        
          
        },
        methods:{
          matchFuc:function(){

              subject=this.todos[0].subj;
              subject=subj+"subject/"+subject;
    
               axios.get(subject).then(response => {
          
            this.idd=response.data;
            
            alert(JSON.stringify(this.idd));
         
           
         
          },
          err=>{alert('not response');});

             axios.get(matchUrl+this.Email).then(response => {
          
            this.matchData=response.data;
            
             if(this.matchData[0].mail==this.Email){
                  if(this.matchData[0].password==this.pass){
                    alert("Welcome "+this.matchData[0].name);
                    this.loginShow=false;
                    this.dataShow=true;
                    
                  }
                  else alert("Wrong Password Or Email");
                }
                 
         
           
         
          },
          err=>{alert('not response');});

             axios.get(stud+this.Email).then(response => {
          
            this.matchData=response.data;
            this.studata = response.data;
             if(this.matchData[0].mail==this.Email){
                  if(this.matchData[0].password==this.pass){
                    alert("Welcome "+this.matchData[0].name);
                    this.stu1=false;
                    this.loginShow=false;
                    this.dataShow=true;
                    this.stu = true;
                    
                  }
                  else alert("Wrong Password Or Email");
                }
                 
         
           
         
          },
          err=>{alert('not response');});
           
            return false;
          }
        }
});
</script>
  </body>
</html>